.ChatListPage {
    height: 100%;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
}

.ChatListPage .Header {
    position: fixed;
    top: 0;
    width: 100%;
}

.ChatListPage .Footer__nav {
    position: fixed;
    bottom: 0;
 }

.Emotion{
    width: 30px;
    height: 30px;
}
