.ContactsListPage {
    padding-top: 50px;
    padding-bottom: 45px;
}

.ContactsListPage .Header {
    top: 0;
    position: fixed;
}

.ContactsListPage .Footer {
    position: fixed;
    bottom: 0;
}
